// global classes ------------------------------------------------------------------------------------------------------

// highlight
.highlight-1 {
    color: $highlight-color-1;
}
.highlight-2 {
    color: $highlight-color-2;
}
.highlight-3 {
    color: $highlight-color-3;
}

//highlight backgrounds
.bg-highlight-1 {
    background: $highlight-color-1;
}
.bg-highlight-2 {
    background: $highlight-color-2;
}
.bg-highlight-3 {
    background: $highlight-color-3;
}


// special global classes ----------------------------------------------------------------------------------------------

.required-hint {
    text-align: right;
    @include rem(font-size, $font-size-small);
}

.out-of-stock {
    color: $color-danger;
}

.cf, .clearfix {
    clear: both;
    display: block;
}


.g-block {
    @include grid-size();
}

.d-block {
    display: block;
}

.d-a-right {
    text-align: right;
}

.d-a-left {
    text-align: left;
}


// reverses
.no-margin {
    margin: 0;
}

.no-margin-important {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.no-padding-important {
    padding: 0 !important;
}

//formatting
.nobr {
    white-space: nowrap;
}

.inline {
    display: inline;
    @include rem(margin-right, $space-s);
}

.inline-block {
    display: inline-block;
    @include rem(margin-right, $space-s);
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}

.d-hidden,
.dt-hidden,
.dm-hidden,
.md-hidden,
.dt-hidden-inline,
.d-hidden-inline,
.no-display,
.dm-hidden-inline,
.md-hidden-inline,
button.dt-hidden,
.button.dt-hidden {
    display: none;
}


.small {
    @include rem(font-size, $font-size-small);
}

.large {
    @include rem(font-size, $font-size-large);
}

// floats
.f-right-default {
    float: right;
}

.f-left-default {
    float: left;
}

.f-right {
    float: right !important;
}

.f-left {
    float: left !important;
}

// text align
.a-right {
    text-align: right;
}

.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}


// formatting  ---------------------------------------------------------------------------------------------------------
// margin --------------------------------------------------------------------------------------------------------------

/* margin spaces xs*/
.margin-xs {
    @include rem(margin, $space-xs);
}

.margin-xs-left {
    @include rem(margin-left, $space-xs);
}

.margin-xs-right {
    @include rem(margin-right, $space-xs);
}

.margin-xs-top {
    @include rem(margin-top, $space-xs);
}

.margin-xs-bottom {
    @include rem(margin-bottom, $space-xs);
}

/* margin spaces s*/
.margin-s {
    @include rem(margin, $space-s);
}

.margin-s-left {
    @include rem(margin-left, $space-s);
}

.margin-s-right {
    @include rem(margin-right, $space-s);
}

.margin-s-top {
    @include rem(margin-top, $space-s);
}

.margin-s-bottom {
    @include rem(margin-bottom, $space-s);
}

/* margin spaces m*/
.margin-m {
    @include rem(margin, $space-m);
}

.margin-m-left {
    @include rem(margin-left, $space-m);
}

.margin-m-right {
    @include rem(margin-right, $space-m);
}

.margin-m-top {
    @include rem(margin-top, $space-m);
}

.margin-m-bottom {
    @include rem(margin-bottom, $space-m);
}

/* margin spaces l */
.margin-l {
    @include rem(margin, $space-l);
}

.margin-l-left {
    @include rem(margin-left, $space-l);
}

.margin-l-right {
    @include rem(margin-right, $space-l);
}

.margin-l-top {
    @include rem(margin-top, $space-l);
}

.margin-l-bottom {
    @include rem(margin-bottom, $space-l);
}

/* margin spaces xl */
.margin-xl {
    @include rem(margin, $space-xl);
}

.margin-xl-left {
    @include rem(margin-left, $space-xl);
}

.margin-xl-right {
    @include rem(margin-right, $space-xl);
}

.margin-xl-top {
    @include rem(margin-top, $space-xl);
}

.margin-xl-bottom {
    @include rem(margin-bottom, $space-xl);
}

/* margin spaces xxl */
.margin-xxl {
    @include rem(margin, $space-xxl);
}

.margin-xxl-left {
    @include rem(margin-left, $space-xxl);
}

.margin-xxl-right {
    @include rem(margin-right, $space-xxl);
}

.margin-xxl-top {
    @include rem(margin-top, $space-xxl);
}

.margin-xxl-bottom {
    @include rem(margin-bottom, $space-xxl);
}

// padding -------------------------------------------------------------------------------------------------------------

/* padding spaces xs*/
.padding-xs {
    @include rem(padding, $space-xs);
}

.padding-xs-left {
    @include rem(padding-left, $space-xs);
}

.padding-xs-right {
    @include rem(padding-right, $space-xs);
}

.padding-xs-top {
    @include rem(padding-top, $space-xs);
}

.padding-xs-bottom {
    @include rem(padding-bottom, $space-xs);
}

/* padding spaces s*/
.padding-s {
    @include rem(padding, $space-s);
}

.padding-s-left {
    @include rem(padding-left, $space-s);
}

.padding-s-right {
    @include rem(padding-right, $space-s);
}

.padding-s-top {
    @include rem(padding-top, $space-s);
}

.padding-s-bottom {
    @include rem(padding-bottom, $space-s);
}

/* padding-saces m*/
.padding-m {
    @include rem(padding, $space-m);
}

.padding-m-left {
    @include rem(padding-left, $space-m);
}

.padding-m-right {
    @include rem(padding-right, $space-m);
}

.padding-m-top {
    @include rem(padding-top, $space-m);
}

.padding-m-bottom {
    @include rem(padding-bottom, $space-m);
}

/* paddings spaces xl */
.padding-l {
    @include rem(padding, $space-l);
}

.padding-l-left {
    @include rem(padding-left, $space-l);
}

.padding-l-right {
    @include rem(padding-right, $space-l);
}

.padding-l-top {
    @include rem(padding-top, $space-l);
}

.padding-l-bottom {
    @include rem(padding-bottom, $space-l);
}

/* paddings spaces xl */
.padding-xl {
    @include rem(padding, $space-xl);
}

.padding-xl-left {
    @include rem(padding-left, $space-xl);
}

.padding-xl-right {
    @include rem(padding-right, $space-xl);
}

.padding-xl-top {
    @include rem(padding-top, $space-xl);
}

.padding-xl-bottom {
    @include rem(padding-bottom, $space-xl);
}

/* paddings spaces xxl */
.padding-xxl {
    @include rem(padding, $space-xxl);
}

.padding-xxl-left {
    @include rem(padding-left, $space-xxl);
}

.padding-xxl-right {
    @include rem(padding-right, $space-xxl);
}

.padding-xxl-top {
    @include rem(padding-top, $space-xxl);
}

.padding-xxl-bottom {
    @include rem(padding-bottom, $space-xxl);
}
