* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0 none;
}

html {
    @include rem-baseline;
}

body {
    font-family: $font-family-base;
    @include rem(font-size, $font-size);
    color: $text-color;
    background: $body-bg;
    overflow-y: scroll;
}

// lists -------------------------------------------------------------------------------------------------------

ul,
ol {
    list-style: none;
    
    .std & {
        &.clean {
            list-style: none;
        }
    }
}

ul {
    .std & {
        list-style: inside none disc;
    }
}

ol {
    .std & {
        list-style: inside none decimal;
        
        &.decimal-increment {
            counter-reset: item;
            
            li {
                display: block;
                
                &:before {
                    content: counters(item, ".") ". "; 
                    counter-increment: item;
                }
            }
            
            ol {
                counter-reset: item;
            }
        }
    }
}

ul.disc {
    list-style: inside disc;
}

ul.horizontal {

    li {
        float: left;
    }
}

// global tags ---------------------------------------------------------------------------------------------------------


a {
    color: $link-color;
    text-decoration: none;
}

a:hover, a.hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
}

a:visited, a.visited {
    color: $link-color;
    text-decoration: none;
}

p {
    @include rem(margin-bottom, $space-s);
}

img {
    max-width: 100%;
    border: 0 none;
}

// headlines -------------------------------------------------------------------------------------------------------
// h1 - h6
@for $index from 1 through 6 {
    h#{$index}, .h#{$index} {
        @include rem(margin-bottom, $space-s);
        font-weight: bold;
        display: block;
    }
}

// h2 - h6
@for $index from 2 through 6 {
    h#{$index}, .h#{$index} {
        @include rem(margin-top, $space-s);
    }
}

@each $header, $size in (h1: $font-size-h1, h2: $font-size-h2, 
h3: $font-size-h3, h4: $font-size-h4,
h5: $font-size-h5, h6: $font-size-h6) {
    #{$header},.#{$header} {
        @include rem(font-size, $size);
    }
}


// messages ------------------------------------------------------------------------------------------------------------


.messages {
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
    @include rem(padding, 10px 20px);
    @include rem(margin-bottom, $space-m);

    .success-msg {
        color: $color-success;
    }

    .error-msg {
        color: $color-danger;
    }

    .info-msg {
        color: $color-info;
    }
}

// content -------------------------------------------------------------------------------------------------------------


.wrapper {
    margin: 0 auto;
}

.content-wrapper {
    background: $body-content-wrapper;
    @include rem(padding, $padding-desktop);
    position: relative;
}

/* left nav */

.block {
    border: $border-block;
    @include border-radius(4px, 4px);
    @include rem(padding, $padding-block);
    @include rem(margin-bottom, $space-m);
}

.block-title {
    color: $primary-color;
    margin-top: 0;
}

.block-content {
    @include rem(margin-bottom, $space-m);
}

//spinner
.js-spinner {
    background: url(../images/bxslider/bx_loader.gif) 3px 3px no-repeat #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    @include rem(width, 38px);
    @include rem(height, 38px);
    @include border-radius(20px);
}