input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
    @include border-radius($border-radius, $border-radius);
    @include box-shadow($insert-shadow);
    @include rem(padding, $space-xs $space-m);
    border: none;
    @include rem(height, 36px);
    vertical-align:top;

    & + input[type="text"],
    & + input[type="password"],
    & + input[type="number"],
    & + input[type="email"],
    & + input[type="tel"] {
        @include rem(margin-left, 5px);
    }

    &.no-display + input[type="text"],
    &.no-display + input[type="password"],
    &.no-display + input[type="number"],
    &.no-display + input[type="email"],
    &.no-display + input[type="tel"] {
        margin-left: 0;
    }

}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
}

textarea {
    @include rem(min-height, 70px);
    @include rem(padding, $space-m);
}

select, textarea {
    @include rem(font-size, $font-size);
}

label,
.label {
    display: inline-block;
    @include rem(line-height, 24px);

    input[type="checkbox"], input[type="radio"] {
        margin-top: 0;
    }

    &.required em {
        @include rem(margin-left, $space-xs);
    }
}

input.qty {
    @include rem(max-width, 80px);
    text-align: center;
}

input[type="checkbox"],
input[type="radio"] {
    @include rem(margin-top, 6px);
    vertical-align: top;
    @include rem(font-size, $font-size);
}

//Label next to input
.form-list {
    list-style: none;
    @include rem(padding-top, $space-s);

    li {
        @include rem(margin-bottom, $space-m);

        label, .label {
            width: 33%;
            margin-right: 2%;
        }

        .label-spacer {
            margin-left: 36%;
        }

        input,
        select,
        textarea {
            width: 64%;
        }

        input[type="checkbox"],
        input[type="radio"] {
            width: 15%;

            & + label, .label {
                width: 82%;
            }
        }

        &.inline-group > ul,
        &.inline-group > .inline-fields {
            width: 64%;
        }

    }

    .validation-advice {
        margin-left: 36%;
    }
}

// Label with his own row, above his input
.form-list-wide {
    list-style: none;
    @include rem(padding-top, $space-s);

    li {
        @include rem(margin-bottom, $space-m);

        label, .label {
            width: 100%;
        }

        input,
        select,
        textarea {
            width: 100%;
        }

        input[type="checkbox"],
        input[type="radio"] {
            width: 15%;

            & + label, .label {
                width: 84%;
            }
        }

        &.inline-group > ul,
        &.inline-group > .inline-fields {
            width: 100%;
        }

        .input-1-2 {
            width: 49%;
        }


        .input-1-3 {
            width: 32%;
        }

        .input-2-3 {
            width: 64%;
        }

        //div wrapper (dob for validation)
        .inputs {
            width: 100%;
            display: inline-block;

            > div {
                display: inline-block;

            }

            .input-1-3 {
                width: 32%;
            }
        }
    }
}

/* Input inline */
li.inline-group > ul,
li.inline-group > .inline-fields {
    display: inline-block;

    li {
        margin: 0;


        input[type="checkbox"],
        input[type="radio"]  {
            width: auto;

            & + label, .label {
                width: auto;
            }
        }
    }

    label,
    .label {
        @include rem(padding-left, $space-s);
        @include rem(padding-right, $space-m);
    }

    .input-1-2 {
        width: 50%;
    }

    .input-1-3 {
        width: 32%;
    }

    .input-2-3 {
        width: 66%;
    }

    .input-small {
        width: 15%;
    }

    .hidden {
        position: absolute;
        left: -9999px;
    }
}


.validation-advice {
    color: $color-danger;
    @include rem(font-size, $font-size-small);
    @include rem(margin-top, 2px);

}


button.update-product {
    display: none;
}

button,
input[type="button"],
input[type="reset"],
.button,
a.button {
    border-radius: $border-radius;
    font-family: $font-family-base;
    color: $white;
    @include rem(padding, 8px 16px);
    border: 0;
    background: $tertiary-color;
    cursor: pointer;
    @include rem(font-size, $font-size);
    @include rem(line-height, 24px);
    @include rem(height, 40px);
    display: inline-block;

    a {
        color: $white;
    }

    &:hover {
        background: $secondary-color;
        color: $white;
        text-decoration: none;
    }

    &.primary {
        background: $primary-color;

        &:hover {
            background: $secondary-color;
        }
    }

    &.secondary {
        background: $secondary-color;

        &:hover {
            background: $tertiary-color;
        }
    }

    &.micro {
        @include rem(font-size, $font-size-small);
        @include rem(line-height, $font-size-small);
        @include rem(height, 32px);
    }
}
.actions {
    @include rem(margin, $space-s 0);

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}

.buttons-set {
    text-align: right;
}
