/*
 * icons
 */

/* icon font */

.icon:before,
.icon:after {
    font-family: $font-family-icons;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
    @include rem(margin, 0 0 0 6px);
}


.icon:before {
    @include rem(margin, 0 6px 0 0);
}

.icon.single:before,
.icon.single:after {
    margin: 0;
}

.icon {

    //formatting icon classes
    &.single {
        &:after,
        &:before {
            margin: 0;
        }
    }

    &.multiline {
        @include rem(padding-left, 40px);
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &.icon-highlight:after,
    &.icon-highlight:before {
        color: $highlight-color-1;
    }

    //icons

    &.remove:before,
    &.remove-after:after {
        content: "\e830";
    }

    &.edit:before,
    &.edit-after:after {
        content: "\e822";
    }

    &.wishlist:before,
    &.wishlist-after:after {
        content: "\e81f";
    }

    &.arrow:after {
        content: "\e808";
    }

    &.compare:before,
    &.compare-after:after {
        content: "\e842";
    }

    &.arrow-top:before,
    &.arrow-top-after:after {
        content: "\e803";
    }

    &.arrow-bottom:before,
    &.arrow-bottom-after:after {
        content: "\e800";
    }

    &.arrow-right:before,
    &.arrow-right-after:after {
        content: "\e80b";
    }

    &.arrow-left:before,
    &.arrow-left-after:after {
        content: "\e80b";
    }

    &.next:before,
    &.next-after:after {
        content: "\e81d";
    }

    &.back:before,
    &.back-after:after {
        content: "\e81c";
    }

    &.zoom-hint:before,
    &.zoom-hint-after:after {
        content: "\e80c";
    }

    &.search:before,
    &.search-after:after {
        content: "\e80c";
    }

    .toggle {
        .arrow-white:after {
            content: "\e81d";

        }

        &.active {
            .arrow-white:after {
                content: "\e817";
            }
        }
    }

    .section {
        .icon.arrow-gray:after {
            content: "\e829";

        }

        &.active {
            .icon.arrow-gray:after {
                content: "\e827";
            }
        }
    }

    &.info {
        position: relative;

        &:before {
            content: "\e824";
        }

        span {
            background: none repeat scroll 0 0 $gray;
            color: $white;
            left: -9999px;
            overflow: hidden;
            @include rem(padding, $space-s);
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 2;
            @include box-shadow($box-shadow);
            @include rem(font-size, $font-size-small);
        }

        &:hover {

            span {
                left: 20px;
                top: 0;
            }
        }
    }

    &.off-canvas-link:before {
        content: "\e832";
        position: relative;
        @include rem(top, 3px);
        @include rem(font-size, $font-size-off-canvas);

    }
}

//special icon declartions

.customer-links {

    #top-account a:before {
        content: "\e820";
    }

    #top-login a:before {
        content: "\e834";
    }

    #top-logout a:before {
        content: "\e835";
    }

    .last a:before {
        content: "\e836";
    }
}



/* icon sprite */
.icon-sprite {
    background: url($spriteUrl) no-repeat 0 0;

    &.flag-1 {
        background-position: 0 2px;
    }

    &.flag-2 {
        background-position: 0 -109px;
    }
}

//sprite before
.icon-sprite-before {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url($spriteUrl) no-repeat 0 0;
    }
}

//sprite after
.icon-sprite-after {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url($spriteUrl) no-repeat 0 0;
    }
}

//retina sprite
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .icon-sprite,
    .icon-sprite-before:before,
    .icon-sprite-after:after {
        background-image: url($sprite-url-retina);
        background-size: $sprite-size-retina auto;
    }
}