table {
    width: 100%;
    clear: both;

    th {
        white-space: nowrap;
    }

    th, td {
        text-align: left;
        @include rem(padding, 0 $space-m  $space-m  $space-m);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

}

.div-table {
    .div-header  {
        white-space: nowrap;

        & > div {
            @include rem(padding, 0 $space-m 0 0);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .item {
        @include rem(padding-bottom, $space-l);

        & > div {
            @include rem(padding, 0 $space-m 0 0);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}