@tailwind base;

// Insert base overrides here
@layer base {
  *,
  ::before,
  ::after {
    border-color: hsl(var(--bc) / 0.2);
  }
}

@tailwind components;

// Insert component overrides here
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@tailwind utilities;
@import 'configurations/__fonts.scss';
