//mobile hidden
.m-hidden,
.tm-hidden,
.tm-hidden-inline,
.mt-hidden,
.mt-hidden-inline,
.dm-hidden,
.m-hidden-inline,
.dm-hidden-inline {
    display: none;
}

.d-hidden,
.dt-hidden {
    display: block;
}

.dt-hidden-inline,
.d-hidden-inline,
.t-hidden-inline {
    display: inline-block;
}

.g-block {
    width: $grid-size-mobile;
    min-width: $grid-size-mobile-min;
}

.m-block {
    display: block;
}

.m-a-right {
    text-align: right;
}

.m-a-left {
    text-align: left;
}

/* grid for mobile*/
.m-1-1 {width:100%;}
.m-1-2 {width:50%;}
.m-1-3 {width:33.333%;}
.m-2-3 {width:66.665%;}
.m-1-4 {width:25%;}
.m-3-4 {width:75%;}
.m-1-5 {width: 20%;}
.m-2-5 {width: 40%;}
.m-3-5 {width: 60%;}
.m-4-5 {width: 80%;}
.m-1-10 {width: 10%;}
.m-3-10 {width: 30%;}
.m-7-10 {width: 70%;}
.m-9-10 {width: 90%;}

img {
    height: auto;
    max-width: 100%;
}

.m-space-none {
    margin: 0;
    padding: 0;
}

.mt-padding-none,
.m-padding-none {
    padding: 0;
}

.mt-margin-none,
.m-margin-none {
    margin: 0;
}

.content-wrapper {
    @include rem(padding, $padding-mobile);
}

input, label, select {
    width: 100%;
}

/* Accordion responsive breakpoint */
.r-tabs .r-tabs-nav {
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: block;
}

/* forms */
button.m-1-1,
.button.m-1-1 {
    text-align: center;
}

.form-list {
    li {
        label {
            width: 100%;

            &.hidden {
                display: none;
            }
        }
        input {
            width: 100%;
        }
        .validation-advice {
            margin-left: 0;
        }

        select {
            width: 100%;
        }
    }
}


/* footer */
.footer-container {

    .footer {
        text-align: center;

        li {
            padding-left:0;
            width: $grid-size-mobile;
            @include rem(padding-bottom, $space-m);

        }

        .form-language li {
            width: inherit;
        }

    }
}

/* cart */

.cart {
    .product-name {
        padding-left: 0;
        text-align: center;
    }
    .remove-icon {
        padding-left: 0;
    }

    .checkout-types {
        margin: 0;
    }

    button {
        &.back {
            @include rem(margin-top, $space-m);
        }
    }
}

.data-table {
    .product-name .h3 {
        @include rem(font-size, $font-size);
    }
}



/* listing grid*/

.products-grid {
    li.item {
        .actions {
            width: 100%;
            position: unset;
            margin-left: 0;
            margin-right: 0;
        }
    }
}


/* product view */

/* fix for responsive zoom*/
#product-image,
.zoomWrapper,
#zoomContainer {
    width: 90%!important;
}

.my-wishlist {
    .item {
        &> div {
            text-align: left;
        }
        .column-1 {
            display: none;
        }

        .column-2 {
            width: 70%;
        }
    }
}

/* off canvas */
#off-canvas-menu {
    display: none !important;
}

.icon.off-canvas-link {
    display: block;
}

.tm-icon-sprite-before-none,
.m-icon-sprite-before-none {
    &:before {
        display: none;
    }
}

.tm-icon-sprite-after-none,
.m-icon-sprite-after-none {
    &:after {
        display: none;
    }
}