.autocompleted-search__container {
    position: relative;

    input {
        background: #ffffff;
        transition: all 0.2s ease-in-out;

        &::placeholder {
            color: $disabled-color;
        }

        &:focus {
            border: 1px solid $primary;
        }

        &:disabled {
            border-color: $muted-grey;
            background-color: $muted-white;

            &::placeholder {
                color: $muted-grey;
            }
        }
    }

    button {
        position: absolute;
        top: 12px;
        right: 21px;
        background-color: transparent;
        color: $muted-grey;
        border: none;
        outline: none;

        &:hover {
            background-color: white;
            color: $muted-grey;
        }

        .button--close {
            &:hover {
                color: $primary;
            }
        }

        svg {
            height: 19px;
            width: 19px;
        }

        &:before{
            font-size: $icon-small__font-size !important;
            padding-top: 10px;
        }

        span { /* referencing b-spinner == vue bootstrap component */
            position: absolute;
            right: 7px;
            top: 7px;
        }
    }
}

.autocompleted-search__results {
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(41, 40, 47, .1);

    border-radius: 28px;
    padding: 20px;
    margin-top: 20px;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding: 7px;
            transition: all 0.35s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: $primary;
                color: white;
            }

            span {
                padding-left: 7px;
                padding-right: 7px;
            }
        }
    }
}
