.autocompleted-search__container {
    position: relative;

    input {
        background: #ffffff;
        transition: all 0.2s ease-in-out;

        &::placeholder {
            color: $disabled-color;
        }

        &:focus {
            border: 1px solid $primary;
        }

        &:disabled {
            border-color: $muted-grey;
            background-color: $muted-white;

            &::placeholder {
                color: $muted-grey;
            }
        }
    }

    button {
        position: absolute;
        top: 12px;
        right: 21px;
        background-color: transparent;
        color: $muted-grey;
        border: none;
        outline: none;

        &:hover {
            color: $muted-grey; //
        }

        .button--close {
            &:hover {
                color: $primary;
            }
        }

        svg {
            height: 19px;
            width: 19px;
        }

        &:before{
            font-size: $icon-small__font-size !important;
            padding-top: 10px;
        }

        span { /* referencing b-spinner == vue bootstrap component */
            position: absolute;
            right: 7px;
            top: 7px;
        }
    }
}


#sidebar-search {
    .list-group {
        padding-bottom: $sidebar-gap-small;
    }

    .list-group-item {

        .ticket__actions {
            flex-shrink: 0;
        }

        &:hover {
            & svg {
                fill: none;

                &.ticket__icon--selectable {
                    fill: $success !important;
                }
            }
        }

        .ticket__icon--bookmarked  {
            stroke: $primary;
            fill: $success !important;
        }

        .ticket__icon--not-bookmarked {
            fill: $white !important;
            stroke: $primary;
        }
    }

    .autocompleted-search__results {
        background-color: white;
        margin-top: 20px;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding: 7px;
                transition: all 0.35s ease-in-out;

                &:hover {
                    cursor: pointer;
                }

                span {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }
    }
}
