.search-results, #sidebar-settings, #sidebar-search {

    .ticket__icon {
        flex-shrink: 0;
        stroke: $primary;
    }

    .ticket__info {
        &__key {
            color: $primary;
        }

        &__summary {
            color: $dark-grey;
            font-size: $small-button__font-size; //
        }
    }
}
