/*===  SelectedTasks.vue  ===*/
.selected-tickets__container {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

/*===  SelectedTask.vue  ===*/
.selected-ticket__container {
    margin-bottom: $indent__m;
    padding: $indent__m;
    border: 1px solid $body-color;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 4px 10px 0 rgba(41, 40, 47, .1);
        cursor: pointer;
    }

    &.already-booked {
        background: $disabled-color;
    }

    li {
        list-style: none;
        cursor: pointer;
    }

    /* todo: extract -> similar styles needed in the-navigation.scss */
    button {
        border: none;
        background: transparent;
        font-size: $icon-medium__font-size;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $highlight-color;

            &.disabled {
                color: $disabled-color;
                cursor: not-allowed;
            }
        }

        .icon-play, .icon-pause {
            &.disabled {
                color: $disabled-color;
            }
        }
    }

    .selected-ticket__heading {
        display: flex;
        justify-content: space-between;
    }

    .time-collapse {
        cursor: pointer;
        @extend [class^="icon-"];
        @extend .icon-toggle-off;

        &.collapsed {
            @extend .icon-toggle-on;
        }
    }

    .selected-ticket__content {
        display: flex;
        flex-direction: column;

        textarea {
            width: 100%;
            height: 70px;
            margin: 7px 0 7px 0;
        }

        .selected-ticket__tracked-time {
            display: flex;

            .selected-ticket__tracked-time__displayed {
                display: flex;

                div {
                    padding: 0 10px 0 10px;
                }
            }
        }
    }
}
