/* ------ todo -------- */
.refresh--assignedTickets {
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    outline: none;
    color: $primary;
    margin-top: $sidebar-gap-large; // todo!
    padding-bottom: 10px; // todo!

    &.disabled {
        color: $light-grey;
    }

    &:hover {
        color: $secondary;

        &.disabled {
            cursor: not-allowed;
        }
    }

    &:focus {
        outline: none;
    }
}
/* ------ todo: endOfTodo -------- */

.button--ticketAssignment, .button--customTaskName { // todo
    &:disabled {
        cursor: not-allowed; // todo
    }
}

/*===  SelectedTasks.vue  ===*/
.selected-tickets__container {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

/*===  SelectedTask.vue  ===*/
.selected-ticket__heading__assignments__project-selection {
    position: relative;
}

.selected-ticket__heading__assignments__projects-btn {
    position: absolute;
    top: 24px;
    background: transparent;
    border: none;
    pointer-events: none;
}

.btn--edit {
    svg {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }

    &:disabled {
        &:hover {
            cursor: not-allowed;
        }
    }
}

.selected-ticket__heading__assignments {
    button {
        font-size: $small-button__font-size;
        font-weight: bold;
        padding: 10px 16px;
        @include box-shadow;

        & span {
            vertical-align: middle;
            font-size: $small-button__font-size;
            line-height: 19px;
        }

        & svg {
            width: $small-button__font-size;
            height: $small-button__font-size;
        }
    }
}


.selected-ticket {
    &__container {
        margin-bottom: $indent__m;
        padding: $indent__m;
        border: 1px solid $light-grey;
        border-radius: $list-item-border-radius;
        background: white;
        @include box-shadow;
        position: relative;

        &:hover {
            @include box-shadow;
        }

        &.already-booked {
            background: $disabled-color;
        }

        &.not-assigned {
            background: $not-assigned;
            border: 1px solid $danger;
        }

        &.currently-active {
            background: $currently-active;
            border: 1px solid $success;
        }

        li {
            list-style: none;
            cursor: pointer;
        }

        .selected-ticket__heading {
            display: flex;
            justify-content: space-between;

            a {
                margin-left: -15px; //

                &.notALink {

                    &:hover {
                        cursor: default;
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }

            &__summary {
                color: $dark-grey;
                font-size: $small-button__font-size;
            }

            &__controls {

                .ticket-trackers {

                    & button {
                        border: none;
                        background: transparent;
                        transition: all 0.3s ease-in-out;
                        outline: none;
                        color: $primary;

                        &.disabled {
                            color: $light-grey;
                        }

                    &:hover {
                        color: $secondary;

                            &.disabled {
                                cursor: not-allowed;
                            }
                        }
                    }
                }

                .selected-ticket__tracked-time {
                    color: $primary;
                }

                .selected-ticket__tracked-time__displayed {
                    width: $tracker-width;

                    div {
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }

        .selected-ticket__content { //
            display: flex;
            flex-direction: column;

            textarea {
                width: 100%;
                height: 100px;
                margin: 7px 0 7px 0;
                border-color: $light-grey;
            }

            .selected-ticket__tracked-time {
                color: $primary;

                .selected-ticket__tracked-time__displayed {

                    div {
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
        .selected-ticket__toggle-btn { //
            padding-top: $default__font-size;

            & button {
                border: none;
                background: transparent;
                position: absolute;
                bottom: 1px;
                overflow: hidden;
                z-index: 60;
                outline: none;

                & svg {
                    color: $dark-grey;
                    height: 20px; //
                    width: 36px; //
                }

                &::after {
                    content: '';
                    width: 36px; //
                    height: 35px; //
                    border-radius: 13.5px; //
                    background-color: $muted-white;
                    position: absolute;
                    bottom: -10px;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    transform: rotate(90deg);
                    margin: 0 auto;
                }
            }
        }
    }
}
