#sidebar-settings {

    .autocompleted-search__container {
        padding-bottom: $sidebar-gap-small / 3;
    }

    .sidebar-settings__header {
        padding-bottom: $sidebar-gap-small / 2;
    }

    .sidebar__title--bookmarks {
        padding-top: $sidebar-gap-large;
    }
    .sidebar__title--no-bookmarks {
        padding-bottom: $sidebar-gap-large;
    }

    .button--close {
        background-color: transparent;
        color: $primary;
        border: none;
        outline: none;

        svg {
            height: $line-height-large;
            width: $line-height-large;
            fill: white;
            transition: fill 0.25s ease-in-out;
        }

        &:hover {
            background-color: white;

            svg {
                fill: $secondary;
            }
        }

        &:focus {
            outline: none;
        }
    }

    .button--logout {
        font-weight: bold;
        padding: 12px 31px 12px 29px;
        @include box-shadow;
        margin-bottom: $sidebar-gap-small;

        & span {
            vertical-align: middle;
        }

        & svg {
            height: $action-svg-large;
            width: $action-svg-large;
        }
    }

    .sidebar-settings__header {
        .sidebar__title {
            margin-bottom: inherit;
        }
    }

    .list-group {
        padding-bottom: $sidebar-gap-large;
    }

    .search-results--settings {
        & .list-group {
            padding-bottom: inherit;
        }
    }

    .list-group-item {

        .ticket__actions {
            flex-shrink: 0;
        }

        &:hover {
            & svg {
                fill: none;
            }
        }

        & svg {
            &:hover {
                fill: none;

                &.ticket__icon--bookmarked {
                    fill: $danger !important;
                }

                &.ticket__icon--not-bookmarked {
                    fill: $success !important;
                }

                &.ticket__icon--selectable {
                    fill: $success !important;
                }
            }
        }

        .ticket__icon--bookmarked  {
            stroke: $primary;
            fill: $success !important;
        }

        .ticket__icon--not-bookmarked {
            fill: $white !important;
            stroke: $primary;
        }
    }

    .error-message--inline {
        color: $danger;
    }
}
