.result-wrp {
    padding-bottom: $sidebar-gap-large;

    & .sidebar__title {

        &:first-of-type {
            padding-top: $sidebar-gap-large;
        }

        padding-top: $sidebar-gap-small;
    }
}
