.select__container {
    position: relative;

    select {
        height: 50px; //

        option {
            overflow: hidden;
            padding-right: 1.5rem; //
        }
    }

    .select__icon {
        position: absolute;
        right: 24px; //
        top: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;
    }
}

.result-wrp {
    padding-bottom: $sidebar-gap-large;

    & .sidebar__title {

        &:first-of-type {
            padding-top: $sidebar-gap-large;
        }

        padding-top: $sidebar-gap-small;
    }
}
