.tasks {
    .task {
        border: 1px solid $primary;
        border-radius: 3px;

        .time-collapse {
            cursor: pointer;
            @extend [class^="icon-"];
            @extend .icon-toggle-off;

            &.collapsed {
                @extend .icon-toggle-on;
            }
        }
    }
}
