.message--error {
    color: $danger;
    font-weight: bold;
}

.overview {
    .sidebar__title {
        font-size: $sidebar-sections__font-size;
        line-height: $line-height-large;
    }

    .stickyBreakTracker {
        background-color: $danger;
        height: 86px;
        color: white;

        // todo
        & button {
            font-weight: bold;
            padding: 12px 31px 12px 29px;
            @include box-shadow;

            & span {
                vertical-align: middle;
            }
        }
    }

    h3, h5 {
        color: $primary;
        font-weight: bold;
    }

    .container--left, .container--right {
        padding-top: 40px;
    }

    .container--left {
        .group--settings {
            margin-bottom: $main-bottom-padding;

            &:hover {
                cursor: pointer;
            }

            .button--settings {
                stroke: $primary;
            }

            .sidebar__option--settings {
                font-size: $default__font-size;
            }
        }
    }

    .container--right {
        background: $muted-white;
        padding-top: 50px;

        &__main-actions {
            width: 100%;
            padding-bottom: 40px;

            // todo
            & button {
                font-weight: bold;
                padding: 12px 31px 12px 29px;
                @include box-shadow;

                & svg {
                    height: $action-svg-large;
                    width: $action-svg-large;
                }

                & span {
                    vertical-align: middle;
                }
            }
        }
    }
}

.modal {

    h3 {
        font-size: 16px;
        font-weight: bold;
        color: $primary;
        margin-bottom: inherit !important;
    }

    span {
        color: $primary;

        &:hover {
            cursor: pointer;
        }
    }

    input {

        &::placeholder {
            color: $muted-grey;
        }
    }

    .modal__top-bar {
        padding: 20px 30px;
    }

    .modal__main-container {
        padding: 20px 30px !important;

        &__main-text {
            font-size: 14px;
            color: $primary;
            padding-bottom: 20px;
        }

        .select__container {

            select {
                height: inherit;
            }

            svg {
                right: 15px; //
            }
        }
    }

    .modal__actions {
        padding: 8px 30px 20px;

        .modal__cancel-btn, .modal__save-btn, button {
            padding: 12px 30px;
        }

        .modal__cancel-btn {
            @include inverted-primary-button;
            @include box-shadow;

            &:hover {
                @include button-hover-styles;
            }
        }
    }

    .modal__feedback__footer {
        border: none;
        margin-top: -20px;

        button {
            font-weight: bold;
        }
    }
}

@media(min-width: 768px) {
    .overview {

        .container--left, .container--right {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}


