@mixin grid-size() {
    width: $grid-size;
    margin: 0 auto;
    max-width: 100%;
}

@mixin icon() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-family-icons !important;
  -webkit-font-smoothing: antialiased;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-sprite-before() {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url($spriteUrl) no-repeat 0 0;
    }
}

@mixin icon-sprite-after() {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url($spriteUrl) no-repeat 0 0;
    }
}

@mixin font-primary() {
    font-family: $font-family-base;
    text-transform: uppercase;
}

@mixin font-secondary() {
    font-family: $font-family-secondary;
    text-transform: none;
}

/* f.e @include opacity(background, $black, 0.5); */
@mixin opacity-property($property, $color, $opacity: 1, $value: null) {
    #{$property}: $value $color;
    #{$property}: $value rgba($color, $opacity);
}
