/* Sizes */

$grid-size:                        1200px !default;
$grid-size-tablet-landscape:       1000px !default;
$grid-size-tablet-portrait:        700px !default;
$grid-size-mobile:                 100% !default;
$grid-size-mobile-min:             320px !default;


/* Typography */
$font-size:               16px !default;


$font-family-sans-serif:  Arial, sans-serif  !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif  !default;
$font-family-base:        $font-family-sans-serif  !default;

$font-family-icons:        'DM Base Font' !default;

$font-size-larger:        24px !default;
$font-size-large:         20px !default;
$font-size-small:         14px !default;

$font-size-h1:            32px !default;
$font-size-h2:            24px !default;
$font-size-h3:            20px !default;
$font-size-h4:            18px !default;
$font-size-h5:            $font-size !default;
$font-size-h6:            12px !default;

$font-size-off-canvas:    30px !default;
$font-size-teaser-title:  55px !default;
$font-size-teaser-text:   28px !default;


/* Margins and Paddings */

$space-xs:        rem(4px)   !default;     // 4
$space-s:         rem(8px)  !default;     // 8
$space-m:         rem(16px)  !default;     //16
$space-l:         rem(24px)  !default;     //24
$space-xl:        rem(32px)  !default;     //32
$space-xxl:       rem(48px)  !default;     //48


/* Colors */



//Gray
$gray-base:              #000 ;
$gray-darker:            lighten($gray-base, 13.5%)  !default; // #222
$gray-dark:              lighten($gray-base, 20%)    !default; // #333
$gray:                   lighten($gray-base, 33.5%)  !default; // #555
$gray-light:             lighten($gray-base, 46.7%)  !default; // #777
$gray-lighter:           lighten($gray-base, 75%)    !default; // #bfbfbf
$gray-lightest:          lighten($gray-base, 93.5%)  !default; // #eee

$beige:                   #fcfbfa   !default;
$beige-dark:              #e8e6e2   !default;

$white:                   #fff      !default;

$primary-color:         #280ba2     !default;
$secondary-color:       $gray-light !default;
$tertiary-color:        $gray-lighter !default;

$color-success:         #5cb85c  !default;
$color-info:            #5bc0de  !default;
$color-warning:         #f0ad4e  !default;
$color-danger:          #d9534f  !default;

$highlight-color-1:     $primary-color !default;
$highlight-color-2:     $secondary-color !default;
$highlight-color-3:     $tertiary-color !default;

//** Background color for `<body>`.
$body-bg:               $gray-lightest !default;
//** Background color for `.content-wrapper`.
$body-content-wrapper:  $white !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark  !default;

//** Global textual link color.
$link-color:            $primary-color  !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $secondary-color !default;
//** Link hover decoration.
$link-hover-decoration: underline  !default;

$border-color:          $gray-light !default;

// Content paddings
$padding-desktop:       $space-l $space-xl !default;
$padding-mobile:        $space-m $space-l !default;
$padding-block:         $space-m !default;

/* Shadows */

$box-shadow:              1px 1px 16px #000 !default;
$box-shadow-small:        1px 1px 15px #000 !default;

$insert-shadow:           inset 0px 1px 5px rgba(0,0,0,0.27) !default;
$border-radius:           3px !default;

/* Images */
$spriteUrl :              '../images/icon-sprite.png' !default;
$sprite-url-retina:       '../images/icon-sprite-retina.png' !default;
$sprite-size-retina:      200px !default;

$border:                  1px solid $gray-lighter !default;
$border-block:            $border !default;
