$btn-font-size-sm: $small-button__font-size;

button {
    &.btn-secondary {
        @include inverted-primary-button;

        &:active {
            @include inverted-primary-button;

            &:hover {
                @include inverted-primary-button;
            }
        }

        &:hover {
            color: white;
            background-color: $primary;
            border: 1px solid $primary;
        }

        &:focus {
            box-shadow: none;

            /* todo */
            border: 1px solid $light-grey;
            border-radius: 28px;
            background-color: $muted-white;
            color: $muted-grey
        }
    }

    &.btn-light-grey {
        color: $dark-grey;
        background: white;
        border: 1px solid $light-grey;
        @include box-shadow;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-success {
        color: $primary;

        &:focus {
            border-color: transparent;
            box-shadow: none;
        }
    }
}
