$primary: #2E186A;
$secondary: #FE7624;
$success: #93E256;
$danger: #BD444A;

$dark-grey: #9099A8;
$light-grey: #D6D9DE;
$muted-grey: #BBC0C8;
$muted-white: #F6F7F8;

$not-assigned: #fff6f7;
$currently-active: #fafff7;
