$small-button__font-size: 14px;
$default__font-size: 16px;
$sidebar-sections__font-size: 24px;

$line-height-large: 33px;

$sidebar-gap-large: 150px;
$sidebar-gap-small: 50px;

$action-svg-large: 20px;

$main-bottom-padding: 40px;

$list-item-border-radius: 4px;
$list-item-height: 80px;

$tracker-width: 70px;
$border-radius: 50px;
