
.icon-add-task:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-toggle-on:before {
  content: "\f00e";
}
.icon-toggle-off:before {
  content: "\f010";
}
.icon-logout:before {
  content: "\f011";
}
.icon-settings:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-clock:before {
  content: "\f017";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-plus:before {
  content: "\f055";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-play:before {
  content: "\f144";
}
.icon-send:before {
  content: "\f1d8";
}
