$indent__xl: 40px;
$indent__l: 30px;
$indent__m: 20px;
$indent__s: 10px;
$indent__xs: 5px;

$icon-big__font-size: 40px;
$icon-medium__font-size: 25px;
$icon-small__font-size: $indent__m;

$layout__padding: $indent__s;
